﻿@model Practisequestion16.Models.AccountDto
@{
    ViewBag.Title = "login";
    Layout = null;
}

<h2>login</h2>

@using (Html.BeginForm())
{
    @*<label>
        FirstName
    </label>
    @Html.TextBoxFor(x => x.FirstName)<br />
    <label>LastName</label>
    @Html.TextBoxFor(x => x.LastName)<br />*@
    <label>UserName</label>
    @Html.TextBoxFor(x => x.Username)<br />
    <br />
    <label>Password</label>
    @*@Html.TextBoxFor(x => x.Password)<br />*@
    <br />
    @Html.PasswordFor(X => X.Password)<br />
    <button type="submit">Login</button><br />
    @*<button type="reset">Reset</button><br />*@
    <br />
    <div>
        @Html.ActionLink("Click to sign", "Signup")
    </div>

}