﻿@model Practisequestion16.Models.AccountDto
@{
    ViewBag.Title = "Signup";
}

<h2>Signup</h2>

@using (Html.BeginForm())
{
    <label>
        FirstName
    </label>
    @Html.TextBoxFor(x => x.FirstName)
    <br />
    <label>LastName</label>
    @Html.TextBoxFor(x => x.LastName)
    <br />
    <label>UserName</label>
    @Html.TextBoxFor(x => x.Username)
    <br />
    <label>Password</label>
    @Html.TextBoxFor(x => x.Password)
    <br />
    <button type="submit">Submit</button>
    <br />
    <button type="reset">Reset</button>
    <br />
    <br />
    <div>
        @Html.ActionLink("Click to Login", "Login")
    </div>

}
