﻿@model Practisequestion16.Models.BrandDto
@{
    ViewBag.Title = "Brand";
}

<h2>Brand</h2>

@using (Html.BeginForm())
{
    @*<label>BrandId</label>
    @Html.TextBoxFor(X => X.Id)*@
    <br />
    <label>BrandName</label>
    @Html.TextBoxFor(X => X.BrandName)
    <br />
    <button type="submit">Submit</button>
}