﻿@model List<Practisequestion16.Models.BrandDto>
@{
    ViewBag.Title = "Brand";
}

<h2>GetAllBrand</h2>

@Html.ActionLink("Add new ", "Brand", null, new { @class = "btn btn-primary" })


<table class=" table table-bordered">

    <tr>
        <td>
            BrandId
        </td>
        <td>
            BrandName
        </td>
    </tr>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Id
                </td>
                <td>
                    @item.BrandName
                </td>
                <td>
                    @Html.ActionLink("Edit", "Brand", new { id = item.Id }) | @Html.ActionLink("Delete", "DeleteBrand", new { id = item.Id })
                </td>

            </tr>

        }
    </tbody>
</table>