﻿@model Practisequestion16.Models.CategoryDto
@{
    ViewBag.Title = "Category";
}

<h2>Category</h2>

@using (Html.BeginForm())
{
    @*<label>Id</label>
    @Html.TextBoxFor(x => x.Id)*@
    <br />
    <label>CategoryName</label>
    @Html.TextBoxFor(x => x.CategoryName)
    <br />
    <button type="submit">Submit</button>
}