﻿@model List<Practisequestion16.Models.CategoryDto>
@{
    ViewBag.Title = "Category";
}

<h2>GetAllCategory</h2>

@Html.ActionLink("Add new ", "Category", null, new { @class = "btn btn-primary" })



<table class=" table table-bordered">

    <tr>
        <td>
            CategoryId
        </td>
        <td>
            CategoryName
        </td>
    </tr>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Id
                </td>
                <td>
                    @item.CategoryName
                </td>
                <td>
                    @Html.ActionLink("Edit", "Category", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "DeleteCategory", new { id = item.Id })
                </td>
                
            </tr>

        }
    </tbody>
</table>