﻿@model List<Practisequestion16.Models.ProductDto>
@{
    ViewBag.Title = "Products";
}

<h2>GetAllProducts</h2>

@Html.ActionLink("Add new ", "Product", null, new { @class = "btn btn-primary" })

<table class=" table table-bordered">

        <tr>
                <td>ProductId</td>
                <td>ProductName</td>
                <td>CategoryId</td>
                <td>BrandId</td>
                <td>Qty</td>
                <td>Price</td>
        </tr>
    

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.ProductName</td>
                <td>@item.CategoryId</td>
                <td>@item.BrandId</td>
                <td>@item.Qty</td>
                <td>@item.Price</td>
                <td><img src="@item.Image_Path" height="100" width="100" /></td>
                <td>
                    @Html.ActionLink("Edit", "Product", new { id = item.Id }) | 
                    @Html.ActionLink("Delete", "DeleteProduct", new { id = item.Id })
                </td>
                @*<td>
                    @Html.ActionLink("Edit", "Student", new { id = item.StdId })

                    @Html.ActionLink("Delete", "DeleteStudent", new { id = item.StdId })*@
                <!--</td>-->
            </tr>
        }   
    </tbody>
</table>