﻿@model Practisequestion16.Models.ProductDto
@{
    ViewBag.Title = "Products";
}

<h2>Product</h2>
<br />
@Html.ActionLink("Add new ", "Product", null, new { @class = "btn btn-primary" })
<br />



@using (Html.BeginForm("Product","Product",FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    @ViewBag.Title

    <br />
    <label>ProductName</label>
    @Html.TextBoxFor(X => X.ProductName)
    <br />
    <label>CategoryId</label>
    @Html.DropDownListFor(X => X.CategoryId, ViewBag.CateDrp as List<SelectListItem>)
    <br />
    <label>BrandId</label>
    @Html.DropDownListFor(X => X.BrandId, ViewBag.BrandDrp as List<SelectListItem>)
    <br />
    <label>Qty</label>
    @Html.TextBoxFor(X => X.Qty)
    <br />
    <label>Price</label>
    @Html.TextBoxFor(X => X.Price)
    <br />

    <br />
    <label>Image</label>

    <input type="file" name="Image" id="Image" />

    @*@Html.ActionLink("Edit", "Product", new { id = item.Id })
    <br />

    @Html.ActionLink("Delete", "DeleteStudent", new { id = item.Id })*@
    <br />

    @*<label>Is Active</label>
        @Html.RadioButtonFor(x => x.IsActive, "Yes") <label>Yes</label>
        @Html.RadioButtonFor(x => x.IsActive, "No")<label>No</label>
        <br />
        <label>Intreseted Topic</label>
        @Html.ListBoxFor(x => x.check, ViewBag.CateDrp as List<SelectListItem>) <label>Cricket</label>;*@

    <br />
    <button type="submit">Submit</button>
}